a,
a:visited,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: white;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
}

.navbar-nav a {
  margin: 0 10px;
}
.singleCard {
  height: 50%;
  width: auto;
  margin: 1%;
}

.title {
  font-size: 2rem;
}

img {
  max-height: 250px;
  width: auto;
}

.gradient-button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}

.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
  background-position: right center;
}

.gradient-button:focus {
  outline: none;
}

.register {
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
}

.login {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
}

.category {
  background-image: linear-gradient(
    to right,
    #2bc0e4 0%,
    #eaecc6 51%,
    #2bc0e4 100%
  );
  color: rgba(0, 0, 0, 0.801);
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-item {
  height: 4rem;
  background-color: rgba(228, 197, 143, 0.692);
  border: 3px solid rgb(255, 230, 186);
  border-radius: 1rem;
  display: grid;
  align-content: center;
}

.add-listing {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
}

.add-category {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.add-category-left {
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.category-input {
  margin-top: 15%;
  height: 60%;
  box-shadow: 0 0 8px #2bc0e4;
}

.watchlist {
  background-image: linear-gradient(
    to right,
    #98fb98 0%,
    #fdf0aa 51%,
    #98fb98 100%
  );
  color: rgba(0, 0, 0, 0.801);
}

.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 25px;
}

@media only screen and (max-width: 490px) {
  .items-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.item {
  background: rgba(255, 228, 181, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 20px;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.navbar {
  backdrop-filter: blur(10px);
}

.badge {
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
}

.status--active {
  background: rgba(190, 255, 92, 0.8);
}

.status--inactive {
  background: rgba(255, 190, 92, 0.8);
}

.status--watching {
  background: rgba(172, 128, 255, 0.281);
}

.status--notwatching {
  background: rgba(128, 194, 255, 0.8);
}

.container-body {
  margin-bottom: 1.5rem;
}

body {
  /*background-image:url(lll.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
}

.inout {
  background-color: rgba(247, 255, 224, 0.507);
  backdrop-filter: blur(10px);
}

.detail-page {
  padding: 3rem;
  background-color: #cfd0d4e0;
  border-radius: 1rem;
}

.detail-parasha {
  padding: 3rem;
  background: rgba(240, 240, 240, 0.8);
  border-radius: 1rem;
}

.comment {
  margin: 1rem 0rem;
  background-color: #e7eaf1d0;
}

.big {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.image {
  height: 60vh;
}

.item-description {
  font-size: 22px;
  text-align: center;
  margin: 1rem 0rem;
}

.bid {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.text-input-form {
  resize: none;
}

.chat-body {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 3rem;
}

.chat-window {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 3rem;
  width: 60%;
}

.chat-message {
  color: black;
  background-color: white;
  padding: 0.6rem;
  border-radius: 1rem;
  margin: 1rem 0rem;
}

.container-for-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  line-height: 80%;
}

/* Darker chat container */
.darker {
  text-align: right;
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container-for-chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container-for-chat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container-for-chat img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.modal-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5%;
  top: 10vh;
  width: 100%;
  max-height: 90%;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.modal-body-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.modal-body-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.modal-body-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.chat-username-line {
  width: 100%;
}

.modal-body-chat-users {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 500px;
  height: 300px;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.modal-content-chat-users {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  line-height: 1.5;
}

.modal-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.modal-content-history {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.modal-chat__content {
  flex-grow: 1; /* [1] */
  overflow-y: auto; /* [1] */
}

.user-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
}

.username-flex-center {
  margin: auto;
}

.right-block {
  margin: 0 0 0 auto;

  /* или */
  margin-left: auto;
}

.form-avatar-upload {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 35px;
}
