DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_DATABASE=django_db
SQL_USER=postgres
SQL_PASSWORD=strongpass
SQL_HOST=db_psql
SQL_PORT=5432
NOSQL_ENGINE=channels_redis.core.RedisChannelLayer
NOSQL_HOST=db_redis
NOSQL_PORT=6379
DATABASE=postgres
