Django==3.2.9
daphne==3.0.2
djangorestframework==3.12.4
celery==5.2.3
redis==4.1.0
flower==1.0.0
channels==3.0.4
channels-redis==3.3.1
Pillow==8.4.0
pytest_asyncio==0.16.0
pytest_django==4.5.2
pytest==6.2.5
psycopg2==2.9.3
