{% extends "market/layout.html" %}

{% block body %}
<div class = "modal-body">
	<div class="container">
  <div class="row">
        <div class="col">
            {% if user.username == chat.members.all.0.username %}
            {% if chat.members.all.1.avatar %}
            <div class = "user-avatar" style = "background-image: url({{ chat.members.all.1.avatar.url }});"></div>
            {% else %}
            <div class = "user-avatar" style = "background-image: url(https://www.meme-arsenal.com/memes/d0aea72a4f42092ccd20a17781d7df11.jpg);"></div>
            {% endif %}
            {% else %}
            {% if chat.members.all.0.avatar %}
            <div class = "user-avatar" style = "background-image: url({{ chat.members.all.0.avatar.url }});"></div>
            {% else %}
            <div class = "user-avatar" style = "background-image: url(https://www.meme-arsenal.com/memes/d0aea72a4f42092ccd20a17781d7df11.jpg);"></div>
            {% endif %}
            {% endif %}
  </div>

    <div class="col">
      <h3 class = "p-2" style = "color:white; text-align:right;"><strong>{% if user.username == chat.members.all.0.username %}{{ chat.members.all.1.username }}{% else %}{{ chat.members.all.0.username }}{% endif %}</strong></h3>
    </div>
</div>
</div>
	<div class = "modal-content">
	<div id = 'messages-field'>
	{% for message in messages %}
	{% if user.id == message.sender_id %}
	<div class="container-for-chat darker" style = "word-wrap: break-word; word-break: break-all;"> 
	<p>{{message.text}}</p>
	<span class="time-left">{{ message.date|date:"M d, h:i a" }}</span>
        </div>

	{% else %}
	<div class="container-for-chat" style = "word-wrap: break-word; word-break: break-all;">
        <p>{{message.text}}</p>
	<span class="time-right">{{ message.date|date:"M d, h:i a" }}</span>
        </div>
	{% endif %}
	{% endfor %}
	</div>
	</div>

	<div class="form-check">
        <input id = "autoscroll-check" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked = True>
        <label class="form-check-label" for="flexCheckDefault" style = "color:white;">
        Autoscroll
        </label>
	</div>

	<div class="form-floating" style:'text-aling:right;'>
	<textarea class = "form-control" id = "message-input" placeholder = "Message text" style = "height: 50px; width:100%; margin-bottom:1rem; max-height:200px; resize:vertical;" maxlength=300></textarea>
	<label for="floatingTextarea2">Message Text</label>
	</div>
	<input type = "button" id = "message-submit" value = "Send message" class = "btn-primary btn-lg">

</div>
{% endblock %}
{% block chat_script %}
<script type = 'text/javascript'>      
                chatSocket = new WebSocket(
                        'ws://'
                        + window.location.host
                        + '/ws/market/'
                        +'inbox'
                        +'/'
                                );

	const messages = document.getElementsByClassName("container-for-chat darker")
	if (messages.length > 0){
			messages[(messages.length-1)].scrollIntoView();}

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
	    if (data.message){
		if (data.send_self){
		document.querySelector('#messages-field').innerHTML +='<div class="container-for-chat darker" style = "word-wrap: break-word; word-break: break-all;">'
        							+'<p>'
								+data.message
								+'</p>'
								+'<span class="time-left">'
								+data.message_date
								+'</span>'
								+'</div>';

		const messages = document.getElementsByClassName("container-for-chat darker")
		if (messages.length > 0){
                        messages[(messages.length-1)].scrollIntoView();}
		
		}
		else{
            	document.querySelector('#messages-field').innerHTML += '<div class="container-for-chat" style = "word-wrap: break-word; word-break: break-all;">'
                                                                +'<p>'
                                                                +data.message
                                                                +'</p>'
								+'<span class="time-right">'
								+ data.message_date
								+'</span>'
                                                                +'</div>';
		
		const scroll_check = document.querySelector('#autoscroll-check').checked
                if (scroll_check){
		if (messages.length > 0){
                const messages = document.getElementsByClassName("container-for-chat darker")
		messages[(messages.length-1)].scrollIntoView();}
                        }

		}

		}
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#message-input').focus();
        document.querySelector('#message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#message-submit').click();
            }   
        };

        document.querySelector('#message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#message-input');
            const message = messageInputDom.value;
            const sender_id = '{{ user.id }}';
            const chat_id = '{{ chat.id }}';
            chatSocket.send(JSON.stringify({
                'new_message_text': message,
                'sender_id':sender_id,
                'chat_id':chat_id,
                'new_chat':'',
            }));
            messageInputDom.value = '';
        };
        </script>
{% endblock %}
