<!-- Make a comment -->
{% if auctionlisting.active and user.is_authenticated %}
<td>
  <div class="border rounded" style="width: 400px">
    <form action="#" class="comment-area-box">
      <textarea
        id="comment-input"
        rows="4"
        class="form-control border-0 resize-none"
        placeholder="Write something...."
      ></textarea>
      <div
        class="p-2 bg-light d-flex justify-content-between align-items-center"
      >
        <div>
          <a href="#" class="btn btn-sm px-2 font-16 btn-light"
            ><i class="uil uil-scenery"></i
          ></a>
          <a href="#" class="btn btn-sm px-2 font-16 btn-light"
            ><i class="uil uil-location"></i
          ></a>
          <a href="#" class="btn btn-sm px-2 font-16 btn-light"
            ><i class="uil uil-paperclip"></i
          ></a>
        </div>
        <button
          id="comment-submit"
          type="submit"
          class="btn btn-sm btn-success"
        >
          <i class="uil uil-message mr-1"></i>Comment
        </button>
      </div>
    </form>
  </div>
  <!-- end .border-->
</td>
{% else %}
<td><h4 style="text-align: center">Login to make a comment...</h4></td>
{% endif %}
