{% extends 'market/layout.html' %}
{% block body %}

<script type = "text/javascript">
	function seturl(){
	document.getElementById("set-image-url").setAttribute("disabled", "true")
	document.getElementById("set-image-url").setAttribute("class", "btn btn-secondary")
	document.getElementById("load-image-from-pc").removeAttribute("disabled")
        document.getElementById("load-image-from-pc").setAttribute("class", "btn btn-primary")
	document.getElementById("form-load-image").innerHTML = "<div class = 'form-floating mb-3 col-6' style = 'width:100%;'><input class = 'form-control' type = 'text' name = 'imageurl' id = 'imageurl' placeholder = 'Image URL'><label for = 'Imageurl'>Image URL</label></div>"
		}
	function loadfrompc(){
	document.getElementById("load-image-from-pc").setAttribute("disabled", "true")
	document.getElementById("load-image-from-pc").setAttribute("class", "btn btn-secondary")
	document.getElementById("set-image-url").removeAttribute("disabled")
	document.getElementById("set-image-url").setAttribute("class", "btn btn-primary")
			document.getElementById("form-load-image").innerHTML = "<p><div class='mb-3'><label for='loaded-image' class='form-label'>Choose image file for listing from your PC</label><input class='form-control' type='file' id='loaded-imaged' name = 'loaded-image'></div>"
		}
</script>

	<form action = "{% url 'market:createListing' %}" method = 'post' enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset class = "detail-parasha">
		{% if messages %}
		<ul class = "messages">
			{% for message in messages %}
			<li style = "color:red;"{% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<legend><h1>Listing Creation</h1></legend>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<input class = "form-control" type = "text" id = "listingname" name = "listingname" maxlength = "32" placeholder = "listingname">
			<label for = "listingname">Name for listing</label>
		</div>
		<small>Select Category</small>
		<select class="form-control mb-3" name="category" style = "width:50%;">
                	{% for category in categories %}
                    		<option value={{ category }}>
                        	{{ category.name }}
                    		</option>
                	{% endfor %}
                </select>
		<div class="form-floating mb-3 col-6" style = "width:100%;">
			<input type="number" class="form-control" name = "startBid" id="floatingInput" placeholder="name@example.com">
			<label for="floatingInput">Listing's start Price</label>
		</div>
		<button type = "button" class = "btn btn-secondary" OnClick = "seturl();" id = "set-image-url" disabled>Image from URL</button>
		<button type = "button" class = "btn btn-primary"  OnClick = "loadfrompc();" id = "load-image-from-pc">Load from PC</button>
		<div id = "form-load-image">
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<input class = "form-control" type = "text" name = "imageurl" id = "imageurl" placeholder = "Image URL">
			<label for = "imageurl">Image URL</label>
		</div>
		</div>
		<div class="form-floating mb-3" style = "width:100%;">
  			<textarea class="form-control" name = "listingdesc" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  			<label for="floatingTextarea2">Listing Description</label>
		</div>
		<div class = "container mb-3">
		<small>Select expire time for Listing</small>
		<div class = "row">
		<div class = "col">
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="expiretime" id="12-hours" value = "12" checked>
		  <label class="form-check-label" for="12-hours">
		    12 hours
		  </label>
		</div>
		</div>
		<div class = "col">
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="expiretime" id="24-hours" value = "24">
		  <label class="form-check-label" for="24-hours">
		    24 hours
		  </label>
		</div>
		</div>
		<div class = "col">
		<div class="form-check">
                  <input class="form-check-input" type="radio" name="expiretime" id="48-hours" value = "48">
                  <label class="form-check-label" for="48-hours">
                    48 hours
                  </label>
                </div>
		</div>
		<div class = "col">
		<div class="form-check">
                  <input class="form-check-input" type="radio" name="expiretime" id="72-hours" value = "72">
                  <label class="form-check-label" for="72-hours">
                    72 hours
                  </label>
                </div>
		</div>
		</div>
		</div>

		<div class = "d-grid gap-2 col-6 mx-auto">
		<input class = "btn-primary btn-lg" type = "submit" value = "Create">
		</div>
	</fieldset>
	</form>
{% endblock %}
