{% extends "market/layout.html" %}
{% load static %}

{% block body %}
  <div class="row">
    <!-- Alert -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error! </strong> {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- Listing Section 1: User, Pic, Description, Date -->
    <div class="col-md-15 col-lg-15">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Image -->
            <div class="col-lg-5 text-center d-block mb-4">
              <img class="img-fluid"
                   src="{% if auctionlisting.loaded_image %}
                      {{ auctionlisting.loaded_image.url }}
                      {% else %}{{ auctionlisting.image }}{% endif %}"
                   alt="{{ auctionlisting.id }}" style="max-width: 280px;">
            </div>

            <!-- Details -->
            <div class="col-lg-7">
              <div class="pl-lg-4">
                <h2 class="mt-0">{{ auctionlisting.name }}</h2>

                <!-- Edit, Add to Watchlist -->
                <div class="mt-4">
                  {% if user.is_authenticated %}
                    {% if true_user %}
                      {% if not auctionlisting.active %}
                        <!-- Delete -->
                        <form action="{% url "market:removeListing" %}" method="post">
                          {% csrf_token %}
                          <!-- Hidden input to store values -->
                          <input type="hidden" name="listing_id"
                                 value= {{ auctionlisting.id }}>

                          <button type="submit" id="delete-listing" title="Delete Listing"
                                  class="btn btn-danger btn-rounded float-right">
                            <i class="dripicons-trash"></i>
                          </button>
                        </form>
                      {% endif %}
                      <!-- Edit -->
                      <a class="btn btn-primary btn-rounded float-right" id="edit-listing"
                         title="Edit Listing" href="{% url 'market:editListing' auctionlisting.id %}">
                        <i class="dripicons-pencil"></i>
                      </a>
                    {% else %}
                      <!-- Add To Watchlist -->
                      <form action="{% url "market:watchlist" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id"
                               value={{ auctionlisting.id }}>
                        {% if auctionlisting in user.watchlist.all %}
                          <input type="submit" id="add-listing-to-watchlist"
                                 class="btn btn-primary btn-rounded float-right"
                                 value="Remove from watchlist">
                        {% else %}
                          <input type="submit" id="add-listing-to-watchlist"
                                 class="btn btn-primary btn-rounded float-right"
                                 value="Add to Watchlist">
                        {% endif %}
                      </form>
                    {% endif %}
                  {% endif %}
                </div>

                <!-- Description -->
                <div class="mt-4">
                  <h4 class="mt-0 text-primary">Description</h4>
                  <p>
                    {% if auctionlisting.description %}
                      {{ auctionlisting.description }}
                    {% else %}
                      No description
                    {% endif %}
                  </p>
                </div>

                <!-- Table: User, Start Price, Creation Date, Expire Date -->
                <div class="table-responsive mt-4">
                  <h4 class="mt-0 text-primary">Details</h4>
                  <table class="table table-bordered table-centered mb-0">
                    <thead class="thead-light">
                    <tr>
                      <th>User</th>
                      <th>Start Price</th>
                      <th>Creation Date</th>
                      <th>Expire Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>&#64;{{ auctionlisting.user }}</td>
                      <td>&#36;{{ auctionlisting.startBid }}</td>
                      <td>{{ auctionlisting.creationDate|date:'Y-m-d H:i' }}</td>
                      <td>{{ auctionlisting.endDate|date:'Y-m-d H:i' }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listing Section 2: Counter, Bids, History -->
    <div class="col-md-15 col-lg-15">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Table: Time to close, Last Bid, Auto-Update, History -->
            <div class="table-responsive mt-4">
              <table class="table table-bordered table-centered mb-0">
                <thead class="thead-light">
                <tr>
                  <th>Time to Close</th>
                  <th>Last Bid</th>
                  <th>Auto Update</th>
                  <th>History</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <!-- Hidden inputs to store dates -->
                  <input type="hidden" id="listing-end-date"
                         value="{{ auctionlisting.endDate|date:'Y-m-d H:i:s'}}">
                  <input type="hidden" id="server-date-now"
                         value="{{ server_datetime|date:'Y-m-d H:i:s'}}">
                  <input type="hidden" id="listing-start-bid"
                         value="{{ auctionlisting.startBid }}">
                  <input type="hidden" id="listing-last-bid"
                         value="{% if bid %}{{ bid.value }}
                                {% else %}{{ auctionlisting.startBid }}{% endif %}">
                  <input type="hidden" id="is_active"
                         value="{{ auctionlisting.active }}">
                  <input type="hidden" id="is_open" value="0">

                  <td id="countdown-box"></td>

                  <td id="listing-last-bid-input">
                    {% if bid is None %}
                      No bids yet
                    {% else %}
                      ${{ bid.value }}
                    {% endif %}
                  </td>
                  <td>
                    <!-- Switch-->
                    <div>
                      <input type="checkbox" id="autoupdate" checked data-switch="success"/>
                      <label for="autoupdate" data-on-label="Yes" data-off-label="No"
                             class="mb-0 d-block"></label>
                    </div>
                  </td>
                  <td>
                    <div id="history-button">
                      <button type="button" id="history-btn" class="btn btn-primary btn-rounded"
                              onclick="turn_is_open()">Show
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <!-- Winner, Make a bid -->
            <div class="table-responsive mt-4">
              <!-- Hidden inputs to store data -->
              <input type="hidden" id="auction-listing-id" value="{{ auctionlisting.id }}">
              <input type="hidden" id="last-bid" value="">

              <!-- Bid Alert -->
              <div id="bid-warning"></div>

              <!-- Winner or Make Bid -->
              <table class="table table-bordered table-centered mb-0">
                <thead class="thead-light">
                <tr>
                  {% if user.is_authenticated %}
                    {% if not auctionlisting.active %}
                      <th>Winner</th>
                    {% endif %}

                    {% if auctionlisting.active and user != auctionlisting.user %}
                      <th>Make Bid</th>
                    {% endif %}
                  {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                  {% if user.is_authenticated %}
                    {% if auctionlisting.active and user != auctionlisting.user %}
                      <!-- Make Bid -->
                      <td>
                        <div class="input-group">
                          <input type="number" class="form-control"
                                 value="{{ min_value }}" step="0.01"
                                 id="newbid" name="newbid" placeholder="Enter a bid">
                          <div class="input-group-append">
                            <input class="btn btn-dark" id="new-bid-submit"
                                   type="button" value="Make a bid"
                                   onclick="makeBid()">
                          </div>
                        </div>
                      </td>
                    {% endif %}
                    {% if not auctionlisting.active %}
                      <!-- Display the winner -->
                      {% if bid.user == user %}
                        <td>
                          <span class="alert alert-success" id='result'>
                            <strong>
                              Congratulations! You're the winner!
                            </strong>
                          </span>
                        </td>
                      {% else %}
                        <td>
                          <span class="alert alert-primary" id='result'>
                            <strong>&#64;{{ bid.user }}</strong>
                          </span>
                        </td>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </tr>
                </tbody>
              </table>
            </div>

            <!-- Display Bid History -->
            <div data-simplebar style="max-height: 250px; overflow-x: hidden">
              <div class="table-responsive mt-4" id="history-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listing Section 3: Comments -->
    {% if user.is_authenticated and auctionlisting.active %}
      <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
        <div class="card">
          <div class="card-body">
            <!-- Hidden input to store data -->
            <input type="hidden" id="comments-length" value="{{ comments|length }}">
            <h4 class="mt-0 mb-3" id="comment-title">Comments ({{ comments|length }})</h4>
            <!-- Alert -->
            <div id="comment-alert"></div>
            <!-- Make Comments -->
            <textarea class="form-control form-control-light mb-2" id="comment-input"
              rows="3" maxlength="99" placeholder="Write your comment here..."></textarea>
            <div class="text-right">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="autoscroll-check" checked>
                <label class="custom-control-label" for="autoscroll-check">AutoScroll</label>
              </div>
              <div class="btn-group mb-2 ml-2">
                <button type="button" class="btn btn-primary btn-sm" id="comment-submit"
                        onclick="makeComment()">Make Comment</button>
              </div>
            </div>

            <!-- Show Comments -->
            <div data-simplebar style="max-height: 250px;">
              {% for comment in comments %}
                <div class="media mt-2">
                  {% if comment.user.avatar %}
                    <img class="mr-3 avatar-sm rounded-circle"
                         alt="" src="{{ comment.user.avatar.url }}"/>
                  {% else %}
                    <img class="mr-3 avatar-sm rounded-circle" alt=""
                         src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F5%2FProfile-PNG-Image-180x180.png"/>
                  {% endif %}
                  <div class="media-body">
                    <h5 class="mt-0">
                      &#64;{{ comment.user.username }}
                      <i>{{ comment.date|date:"M d, h:i a" }}</i>
                    </h5>
                    <p class>{{ comment.text }}</p>
                  </div>
                </div>
              {% endfor %}
              <div id="comment-box"></div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <script src="{% static 'market/js/detail.js' %}"></script>
{% endblock %}