{% extends 'market/layout.html' %}
{% load static %}

{% block body %}
  <div class="row">
    <div class="page-title-box">
      <h2 class="mt-4">Listing Editing</h2>
    </div>
  </div>
  <div class="col-md-15 col-lg-15">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <form action="{% url 'market:editListing' listing.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Alert -->
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>Error! </strong> {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <!-- Listing Name, Category, Price -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="listingname" class="col-form-label">Listing Name</label>
                <input type="text" class="form-control" id="listingname"
                       name="listingname" maxlength="32"
                       placeholder="Enter listing name"
                       value="{{ listing.name }}" required>
              </div>
            </div>

            <!-- Listing Image -->
            <div class="form-group">
              <div class="input-group mb-6">
                <div class="input-group-prepend">
                  <button class="btn btn-primary" type="button" onclick="seturl()" id="set-image-url">Image from URL
                  </button>

                  <button class="btn btn-secondary btn-light" type="button" onclick="loadfrompc()"
                          id="load-image-from-pc">Load from PC
                  </button>
                </div>
                <div id="form-load-image" class="input-group"
                     style="padding-top: 5px">
                  <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="Enter image url">
                </div>
              </div>
            </div>

            <!-- Listing Description -->
            <div class="form-group">
              <label for="floatingTextarea2" class="col-form-label">Description</label>
              <textarea class="form-control" rows="5" name="listingdesc"
                        id="floatingTextarea2"
                        placeholder="Enter a description for your item...">
                              {{ listing.description }}
                            </textarea>
            </div>

            <!-- Submit Btn -->
            <div class="form-group" id="submit-button-block">
              <input type="submit" class="btn btn-block btn-primary" id="submit-edit" value="Edit Listing">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'market/js/createListing.js' %}"></script>
{% endblock %}
