{% extends 'market/layout.html' %}
{% block body %}

<script type = "text/javascript">
		function seturl(){
		document.getElementById("set-image-url").setAttribute("disabled", "true")
		document.getElementById("set-image-url").setAttribute("class", "btn btn-secondary")
		document.getElementById("load-image-from-pc").removeAttribute("disabled")
		document.getElementById("load-image-from-pc").setAttribute("class", "btn btn-primary")
		document.getElementById("form-load-image").innerHTML = "<div class = 'form-floating mb-3 col-6' style = 'width:100%;'><input class = 'form-control' type = 'text' name = 'imageurl' id = 'imageurl' placeholder = 'Image URL'><label for = 'Imageurl'>Image URL</label></div>"
			}
		function loadfrompc(){
		document.getElementById("load-image-from-pc").setAttribute("disabled", "true")
		document.getElementById("load-image-from-pc").setAttribute("class", "btn btn-secondary")
		document.getElementById("set-image-url").removeAttribute("disabled")
		document.getElementById("set-image-url").setAttribute("class", "btn btn-primary")
		document.getElementById("form-load-image").innerHTML = "<p><div class='mb-3'><label for='loaded-image' class='form-label'>Choose image file for listing from your PC</label><input class='form-control' type='file' id='loaded-imaged' name = 'loaded-image'></div>"
			}
</script>

        <form action = "{% url 'market:editListing' listing.id %}" method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class = "detail-parasha">
                {% if messages %}
                <ul class = "messages">
                        {% for message in messages %}
                        <li style = "color:red;"{% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <legend><h1>Listing Editing</h1></legend>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<input class = "form-control" type = "text" id = "listingname" name = "listingname" maxlength = "32" value = {% if listing.name %}{{ listing.name }} {% endif %} placeholder = "listingname">
                	<label for = "listingname">Name for listing</label>
			<div id = 'name-alarm' style = 'color:red; display:none;'><h6>Please, enter the name of listing</h6></div>
		</div>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<textarea class = "form-control" id = "listingdesc" name = "listingdesc" maxlength = "150" placeholder = "Listing Description">{{listing.description}}</textarea>
			<label for = "listingdesc">Listing Description</label>
		</div>
		                <button type = "button" class = "btn btn-secondary" OnClick = "seturl();" id = "set-image-url" disabled>Image from URL</button>
                <button type = "button" class = "btn btn-primary"  OnClick = "loadfrompc();" id = "load-image-from-pc">Load from PC</button>
                <div id = "form-load-image">
                <div class = "form-floating mb-3 col-6" style = "width:100%;">
                        <input class = "form-control" type = "text" name = "imageurl" id = "imageurl" placeholder = "Image URL">
                        <label for = "imageurl">Image URL</label>
                </div>
                </div>

		<input type = "hidden" value = {{ listing.id }} name = "listing_id">
		<div id = "submit-button-block">
                <input type = "submit" class = "btn btn-success btn-lg" value = "Confirm" id = "submit-edit">
		</div>
        </fieldset>
        </form>
	
	<script type = "text/javascript">

                const name_alarm = document.getElementById("name-alarm");

                function removealarm(){
                        name_alarm.setAttribute("style","color:red; display:none;");
                }

                function checkallinputs(tellmewhy){
                const name_dom = document.getElementById("listingname");

                const name = (name_dom.value).replace(/\s+/g, ' ').trim();
		console.log(name);

                const submit_button = document.getElementById("submit-edit");

                const name_alarm = document.getElementById("name-alarm");

                if (tellmewhy === "0") {

                        removealarm();

                        if (name != ""){
                                        submit_button.removeAttribute("disabled");
                                        submit_button.setAttribute("class", "btn btn-success btn-lg");
                                        }
                        else{
                                        submit_button.setAttribute("disabled", "true");
                                        submit_button.setAttribute("class", "btn btn-secondary btn-lg");
                                        }
                                }
                else {

                        removealarm();

                if(name === ""){
                        name_alarm.setAttribute("style","color:red;")
                }
               	}
		}

		$("#listingname").click(function(){
                checkallinputs("0");    
                                });
                $("#listingname").keyup(function(){
                checkallinputs("0");
                               });
		$("#submit-button-block").click(function(){
                checkallinputs("1");
                                });

	</script>


{% endblock %}

