{% extends 'market/layout.html' %}
{% block body %}
        <form action = "{% url 'market:editListing' listing.id %}" method = 'post'>
        {% csrf_token %}
        <fieldset class = "detail-parasha">
                {% if messages %}
                <ul class = "messages">
                        {% for message in messages %}
                        <li style = "color:red;"{% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <legend><h1>Listing Editing</h1></legend>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<input class = "form-control" type = "text" id = "listingname" name = "listingname" maxlength = "32" value = {% if listing.name %}{{ listing.name }} {% endif %} placeholder = "listingname">
                	<label for = "listingname">Name for listing</label>
		</div>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<textarea class = "form-control" id = "listingdesc" name = "listingdesc" maxlength = "150" placeholder = "Listing Description">{{listing.description}}</textarea>
			<label for = "listingdesc">Listing Description</label>
		</div>
		<div class = "form-floating mb-3 col-6" style = "width:100%;">
			<input class = "form-control" type = "text" id = "imageurl" name = "imageurl" value = {% if listing.image %}{{ listing.image }} {% else %} "" {% endif %} placeholder = "imageurl">
			<label for = "imageurl">Image URL</label>
		</div>

		<input type = "hidden" value = {{ listing.id }} name = "listing_id">
                <input type = "submit" value = "Create">
        </fieldset>
        </form>
{% endblock %}

