{% extends "market/layout.html" %}

{% block body%}

<div class = "detail-parasha">
<div class="container">
  <div class = "row">
	  <div class = "col">
	  <h1><strong> Chats </strong></h1>
	  </div>
	  <div class = "col">
	  <h1><strong> Start chat with: </strong></h1>
	  </div>
	  <hr>
  </div>
  <div class="row">
    <div class="col">
	{% for chat in chats %}
	<h3>	
		{% if chat.members.count == 2%}
		<a href = "{% url "market:chat" chat.id %}">
		<button type="button" class="btn btn-primary position-relative">
		{% for member in chat.members.all %}
			{% if member.id != user.id %}
			{{member.username}}
			{% endif %}
		{% endfor %}
		<span id = "numbers_chat_unread_{{chat.id}}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    		<span class="visually-hidden">unread messages</span>
  		</span>
		</button>
		</a>
		{% endif %}
        </h3>
	{% empty %}
	<div class="alert alert-info text-center p-4 my-4 mx-2">You have no chat's yet</div>
	{% endfor %}
    </div>
    <div class="col">
	    {% if site_users %}
	    <form action = "{% url 'market:inbox' %}" method = "post">
	    {% csrf_token %}
	    <div id = "user-list">
		{% for item in site_users %}
		<div class="form-check">
			<input class="form-check-input" type="radio" name="user_id" id="flexRadioDefault{{item.id}}" value = '{{item.id}}'>
		<label class="form-check-label" for="flexRadioDefault{{item.id}}">
			{{ item.username }}
                </label>
		</div>
		{% endfor %}
		<input type = 'submit' class = "btn-primary btn-lg" value = "Start!">
	    </div>
	    </form>
	    {% else %}
	    <div class="alert alert-info text-center p-4 my-4 mx-2">There's no users to start chat with for now :(</div>
	    {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block chat_script %}
     	<script type = 'text/javascript'>      
                chatSocket = new WebSocket(
                        'ws://'
                        + window.location.host
                        + '/ws/market/'
                        +'inbox'
                        +'/'
                                );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
                if (data.message){
                document.querySelector('#inbox-message').innerHTML = data.user_inbox;
                }
        };
	
	var sum_chat_unread = 0;
        {% for chat_item in chats %}
                {% for message_item in chat_item.message_set.all %}
                        {% if message_item.sender_id != user.id and message_item.unread%}
                                sum_chat_unread += 1;
                        {% endif%}
                {% endfor %}
		document.querySelector('#numbers_chat_unread_{{chat_item.id}}').innerHTML = sum_chat_unread;
		sum_chat_unread = 0;
        {% endfor %}
        </script>

{% endblock %}

