{% extends "market/layout.html" %}
{% load static %}

{% block body %}
  <div class="row">
    <!-- Page Title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <h2 class="mt-4">Inbox</h2>
        </div>
      </div>
    </div>

    <!-- Inbox Messages -->
    <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-1">
      <div class="card">
        <div class="card-body p-0">
          <div class="tab-content">
            <div class="tab-pane show active p-3" id="newpost">
              <!-- Search Box -->
              <div class="app-search">
                <form>
                  <div class="form-group position-relative">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search users..."
                    />
                    <span class="mdi mdi-magnify search-icon"></span>
                  </div>
                </form>
              </div>

              <!-- Inbox List -->
              <div class="row">
                <div class="col">
                  <div data-simplebar="init" style="max-height: 450px">
                    <div class="simplebar-wrapper" style="margin: 0px">
                      <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                      </div>
                      <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                          <div class="simplebar-content-wrapper"
                               style="height: auto; overflow: hidden scroll">
                            <div class="simplebar-content" style="padding: 0px">
                              <a href="javascript:void(0);" class="text-body">
                                <div class="media mt-1 p-2">
                                  <img
                                    src="{% static 'market/alexdollslogo.svg' %}"
                                    class="mr-2 rounded-circle"
                                    height="48"
                                    alt="Brandon Smith"/>
                                  <div class="media-body">
                                    <h5 class="mt-0 mb-0 font-14">
                                      <span class="float-right text-muted font-12">4:30am</span>
                                      Brandon Smith
                                    </h5>
                                    <p class="mt-1 mb-0 text-muted font-14">
                                      <span class="w-25 float-right text-right">
                                        <span class="badge badge-danger-lighten">3</span>
                                      </span>
                                      <span class="w-75">How are you today?</span>
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="simplebar-placeholder" style="width: 402px; height: 664px"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
                      <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
                      <div class="simplebar-scrollbar"
                           style="height: 455px;
                           transform: translate3d(0px, 0px, 0px);
                           display: block;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Area -->
    <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
      <div class="card">
        <div class="card-body">
          <ul class="conversation-list" data-simplebar="init" style="max-height: 390px">
            <div class="simplebar-wrapper" style="margin: 0px -15px">
              <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
              </div>
              <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                  <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll">
                    <div class="simplebar-content" style="padding: 0px 15px">
                      <li class="clearfix">
                        <div class="chat-avatar">
                          <img src="{% static 'market/alexdollslogo.svg' %}" class="rounded" alt="Shreyu N"/>
                          <i>10:00</i>
                        </div>
                        <div class="conversation-text">
                          <div class="ctext-wrap">
                            <i>Shreyu N</i>
                            <p>Hello!</p>
                          </div>
                        </div>
                      </li>

                      <li class="clearfix odd">
                        <div class="chat-avatar">
                          <img
                            src="{% static 'market/alexdollslogo.svg' %}"
                            class="rounded"
                            alt="dominic"
                          />
                          <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                          <div class="ctext-wrap">
                            <i>Dominic</i>
                            <p>Hi, How are you? What about our next meeting?</p>
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="simplebar-placeholder" style="width: 876px; height: 885px"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
              <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible">
              <div class="simplebar-scrollbar"
                   style="height: 325px; transform: translate3d(0px, 0px, 0px); display: block;">
              </div>
            </div>
          </ul>

          <div class="row">
            <div class="col">
              <div class="mt-2 bg-light p-3 rounded">
                <form class="needs-validation" novalidate="" name="chat-form" id="chat-form">
                  <div class="row">
                    <div class="col mb-2 mb-sm-0">
                      <input type="text" class="form-control border-0"
                             placeholder="Enter your text" required/>
                      <div class="invalid-feedback"> Please enter your messsage</div>
                    </div>
                    <div class="col-sm-auto">
                      <div class="btn-group">
                        <button type="submit" class="btn btn-success chat-send btn-block">
                          <i class="uil uil-message"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Users List -->
    <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2">
      <div class="card">
        <div class="card-body" style="height: 550px">
          <div class="mt-3 text-center">
            <img src="{% static 'market/alexdollslogo.svg' %}" alt="shreyu"
                 class="img-thumbnail avatar-lg rounded-circle"/>
            <h4>Shreyu N</h4>
            <p class="text-muted mt-2 font-14">
              Last Interacted: <strong>Few hours back</strong>
            </p>
          </div>

          <div class="mt-3">
            <hr />
            <p class="mt-4 mb-1">
              <strong>Email:</strong>
            </p>
            <p>support@coderthemes.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: EDIT THIS SECTION, CALL CHAT AND INBOX IN THE SAME PAGE -->

  <!-- Inbox: Users & Chat -->
  <div class="container-fluid">
    <!-- Page Title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <h2 class="mt-4">Inbox</h2>
        </div>
      </div>
    </div>

    <!-- Chat Message & Users -->
    <div class="row">
      <!-- Chat Users List -->
      <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-1">
        <div class="card">
          <div class="card-body">
            <!-- User Details -->
            <div class="mt-3">
              <!-- Search Box -->
              <div class="app-search">
                <form>
                  <div class="form-group position-relative">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search for users..."
                    />
                    <span class="mdi mdi-magnify search-icon"></span>
                  </div>
                </form>
              </div>

              <!-- List -->
              {% if site_users %}
                <form action="{% url 'market:inbox' %}" method="post">
                  {% csrf_token %}
                  <div data-simplebar="init" style="max-height: 394px;">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                      <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                      </div>
                      <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                          <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">
                            {% for item in site_users %}
                              <a href="javascript:void(0);" class="text-body">
                                <div class="media mt-1 p-2">
                                  <!-- User Avatar -->
                                  {% if item.avatar %}
                                    <img class="mr-2 rounded-circle" height="48" alt=""
                                         src="{{ item.avatar.url }}"/>
                                  {% else %}
                                    <img class="mr-2 rounded-circle"
                                         height="48" alt=""
                                         src="{% static 'market/alexdollslogo.svg' %}"/>
                                  {% endif %}

                                  <!-- Username, Message Preview -->
                                  <div class="media-body">
                                    <h5 class="mt-0 mb-0 font-14">
                                      <span class="float-right text-muted font-12">4:30pm</span>
                                      {{ item.username }}
                                    </h5>
                                    <p class="mt-1 mb-0 text-muted font-14">
                                      <span class="w-25 float-right text-right">
                                        <span class="badge badge-danger-lighten">3</span>
                                      </span>
                                      <span class="w-75">Message goes here...</span>
                                    </p>
                                  </div>
                                  <!-- Messages counter -->
                                  <div class="pt-1">
                                    <span id="numbers_chat_unread_{{ chat.id }}"
                                          class="badge badge-primary-lighten"></span>
                                  </div>
                                </div>
                              </a>
                            {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              {% endif %}

              <!-- Chat Message Area -->
              <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
                <div class="card">
                  <div class="card-body">
                    <ul class="conversation-list" data-simplebar="init" style="max-height: 357px">
                      <div class="simplebar-wrapper" style="margin: 0px -15px">
                        <div class="simplebar-height-auto-observer-wrapper">
                          <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <!-- Chat Messages -->
                        <div class="simplebar-mask">
                          <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                            <div class="simplebar-content-wrapper"
                                 style="height: auto; overflow: hidden scroll">
                              <div class="simplebar-content" style="padding: 0px 15px">
                                <!-- Chat Message Left -->
                                <li class="clearfix">
                                  <div class="chat-avatar">
                                    <img src="{% static 'market/alexdollslogo.svg' %}" class="rounded" alt="Shreyu N"/>
                                    <i>10:00</i>
                                  </div>
                                  <div class="conversation-text">
                                    <div class="ctext-wrap">
                                      <i>Shreyu N</i>
                                      <p>Hello!</p>
                                    </div>
                                  </div>
                                </li>

                                <!-- Chat Message Right -->
                                <li class="clearfix odd">
                                  <div class="chat-avatar">
                                    <img
                                      src="{% static 'market/alexdollslogo.svg' %}"
                                      class="rounded"
                                      alt="dominic"
                                    />
                                    <i>10:01</i>
                                  </div>
                                  <div class="conversation-text">
                                    <div class="ctext-wrap">
                                      <i>Dominic</i>
                                      <p>Hi, How are you? What about our next meeting?</p>
                                    </div>
                                  </div>
                                </li>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="simplebar-placeholder"
                             style="width: 859px; height: 885px"></div>
                      </div>
                      <div class="simplebar-track simplebar-horizontal"
                           style="visibility: hidden">
                        <div class="simplebar-scrollbar"
                             style="width: 0px; display: none"></div>
                      </div>
                      <div class="simplebar-track simplebar-vertical"
                           style="visibility: visible">
                        <div class="simplebar-scrollbar" style="height: 325px;
                             display: block;
                             transform: translate3d(0px, 0px, 0px);"></div>
                      </div>
                    </ul>

                    <div class="row">
                      <div class="col">
                        <div class="mt-2 bg-light p-3 rounded">
                          <form class="needs-validation" novalidate="" name="chat-form" id="chat-form">
                            <div class="row">
                              <div class="col mb-2 mb-sm-0">
                                <input type="text" class="form-control border-0" placeholder="Enter your text"
                                       required/>
                                <div class="invalid-feedback">Please enter your messsage</div>
                              </div>
                              <div class="col-sm-auto">
                                <div class="btn-group">
                                  <button type="submit" class="btn btn-success chat-send btn-block">
                                    <i class="uil uil-message"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- All Users List -->
              <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2">
                <div class="card">
                  <div class="card-body">
                    <div class="mt-3 text-center float-right">
                      <img
                        src="assets/images/users/avatar-5.jpg"
                        alt="shreyu"
                        class="img-thumbnail avatar-lg rounded-circle"
                      />
                      <h4>Shreyu N</h4>
                      <p class="text-muted mt-2 font-14">
                        Last Interacted: <strong>Few hours back</strong>
                      </p>
                    </div>

                    <div class="mt-3">
                      <hr />
                      <p class="mt-4 mb-1">
                        <strong><i class="uil uil-at"></i> Email:</strong>
                      </p>
                      <p>support@coderthemes.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'market/js/inbox.js' %}"></script>
{% endblock %}

