{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Auctions{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'market/style.css' %}" rel="stylesheet" />

    <!-- third party css -->
    <link
      href="{% static 'theme/css/vendor/jquery-jvectormap-1.2.2.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- third party css end -->

    <!-- App css -->
    <link
      href="{% static 'theme/css/icons.min.css"
      rel="stylesheet' %}"
      type="text/css"
    />
    <link
      href="{% static 'theme/css/app-creative.min.css' %}"
      rel="stylesheet"
      type="text/css"
      id="light-style"
    />
    <link
      href="{% static 'theme/css/app-creative-dark.min.css' %}"
      rel="stylesheet"
      type="text/css"
      id="dark-style"
    />
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'market:index' %}">
          <img
            src="{% static 'market/alexdollslogo.svg'%}"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-contols="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="dropdown" style="margin-top: 15px">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Listings
              </a>

              <ul
                class="dropdown-menu p-3"
                aria-labelledby="dropdownMenuButton1"
                style="margin-top: -5px"
              >
                <a class="dropdown-item" href="{% url 'market:index' %}">All</a>
                <a class="dropdown-item" href="{% url 'market:active' %}"
                  >Active Listings</a
                >
                <a class="dropdown-item" href="{% url 'market:categories' %}"
                  >By Categories</a
                >
                <div class="dropdown-divider"></div>
                {% if user.bid_set.all %}
                <a class="dropdown-item" href="{% url 'market:mybids' %}"
                  >My Bids</a
                >
                {% endif %} {% if user.is_authenticated and user.winlist.all %}
                <a class="dropdown-item" href="{% url 'market:winlist' %}"
                  >Won<span class="badge rounded-pill bg-danger"
                    >{{ user.winlist.all.count }}</span
                  ></a
                >
                {% endif %} {% if user.auctionlisting_set.all %}
                <a class="nav-link" href="{% url 'market:mylistings' %}"
                  >My Listings</a
                >
                {% endif %}
              </ul>
            </div>

            {% if user.is_authenticated %}
            <li class="nav-item" style="margin-top: 15px">
              <a class="nav-link" href="{% url 'market:inbox' %}">
                <strong>Inbox</strong>
                <span id="inbox-message" class="badge rounded-pill bg-danger"
                  >{{user.inbox}}</span
                >
              </a>
            </li>

            <li class="nav-item" style="margin-top: 15px">
              <a class="nav-link" href="{% url 'market:watchlist' %}">
                Watchlist
                <span class="badge rounded-pill bg-danger"
                  >{{ user.watchlist.all.count }}</span
                >
              </a>
            </li>
            <li class="nav-item" style="margin-top: 15px">
              <a class="nav-link" href="{% url 'market:createListing' %}"
                >Create Listing</a
              >
            </li>

            <li class="nav-item" style="margin-top: 15px">
              <a
                class="nav-link"
                href="{% url 'market:add_user_avatar' user.id %}"
              >
                {% if user.is_authenticated %} Signed in as
                <strong>{{ user.username }}</strong>
                {% else %} Not signed in. {% endif %}
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              {% if user.avatar %}
              <a
                class="nav-link"
                href="{% url 'market:add_user_avatar' user.id %}"
                ><div
                  class="user-avatar"
                  style="background-image: url({{ user.avatar.url }});"
                ></div
              ></a>
              {% else %}
              <a
                class="nav-link"
                href="{% url 'market:add_user_avatar' user.id %}"
                ><div
                  class="user-avatar"
                  style="
                    background-image: url(https://www.meme-arsenal.com/memes/d0aea72a4f42092ccd20a17781d7df11.jpg);
                  "
                ></div
              ></a>
              {% endif %}
            </li>
            {% endif %}
            <li class="nav-item" style="margin-top: 15px">
              <a class="nav-link" href="{% url 'market:logout' %}"> Log out </a>
            </li>
            {% else %}
            <li class="nav-item" style="margin-top: 5px">
              <a class="nav-link" href="{% url 'market:login' %}">Log in</a>
            </li>
            <li class="nav-item" style="margin-top: 5px">
              <a class="nav-link" href="{% url 'market:signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <hr />
    <div class="container container-body">
      {% block body %} {% endblock %} {% block chat_script %}
      <script type="text/javascript">
        chatSocket = new WebSocket(
          "ws://" + window.location.host + "/ws/market/" + "inbox" + "/"
        );
        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          if (data.message) {
            document.querySelector("#inbox-message").innerHTML =
              data.user_inbox;
          }
        };
      </script>
      {% endblock %}
      <!-- bundle -->
      <script src="{% static 'theme/js/vendor.min.js' %}"></script>
      <script src="{% static   'theme/js/app.min.js' %}"></script>

      <!-- third party js -->
      <script src="{% static   'theme/js/vendor/apexcharts.min.js' %}"></script>
      <script src="{% static   'theme/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
      <script src="{% static   'theme/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
      <!-- third party js ends -->
    </div>
  </body>
</html>
