<ul class="list-unstyled mb-0">
                      {% for item in site_users %}
                        <li class="p-2 border-bottom chat-selection-line">
                          <a href="javascript:void(0);" class="text-body">
                            <div class="media mt-1 p-2">
                              <!-- User Avatar -->
                              {% if item.avatar %}
                                <img class="mr-2 rounded-circle" height="48" alt=""
                                     src="{{ item.avatar.url }}"/>
                              {% else %}
                                <img class="mr-2 rounded-circle"
                                     height="48" alt=""
                                     src="{% static 'market/alexdollslogo.svg' %}"/>
                              {% endif %}

                              <!-- Username, Message Preview -->
                              <div class="media-body">
                                <h5 class="mt-0 mb-0 font-14">
                                  <span class="float-right text-muted font-12">4:30pm</span>
                                  {{ item.username }}
                                </h5>
                                <p class="mt-1 mb-0 text-muted font-14">
                                  <span class="w-25 float-right text-right">
                                    <span class="badge badge-danger-lighten">3</span>
                                  </span>
                                  <span class="w-75">Message goes here...</span>
                                </p>
                              </div>
                              <!-- Messages counter -->
                              <div class="pt-1">
                                <span id="numbers_chat_unread_{{ chat.id }}"
                                      class="badge badge-primary-lighten"></span>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </form>
              {% else %}
                <div class="alert alert-info text-center p-4 my-4 mx-2">
                  There's no users to start chat with for now :(
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- Chat Message Area -->
      <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
        <div class="card">
          <div class="card-body">
            <ul class="conversation-list" data-simplebar="init" style="max-height: 357px">
              <div class="simplebar-wrapper" style="margin: 0px -15px">
                <div class="simplebar-height-auto-observer-wrapper">
                  <div class="simplebar-height-auto-observer"></div>
                </div>
                <!-- Chat Messages -->
                <div class="simplebar-mask">
                  <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                    <div class="simplebar-content-wrapper"
                         style="height: auto; overflow: hidden scroll">
                      <div class="simplebar-content" style="padding: 0px 15px">
                        <!-- Chat Message Left -->
                        <li class="clearfix">
                          <div class="chat-avatar">
                            <img src="{% static 'market/alexdollslogo.svg' %}" class="rounded" alt="Shreyu N"/>
                            <i>10:00</i>
                          </div>
                          <div class="conversation-text">
                            <div class="ctext-wrap">
                              <i>Shreyu N</i>
                              <p>Hello!</p>
                            </div>
                          </div>
                        </li>

                        <!-- Chat Message Right -->
                        <li class="clearfix odd">
                          <div class="chat-avatar">
                            <img
                              src="{% static 'market/alexdollslogo.svg' %}"
                              class="rounded"
                              alt="dominic"
                            />
                            <i>10:01</i>
                          </div>
                          <div class="conversation-text">
                            <div class="ctext-wrap">
                              <i>Dominic</i>
                              <p>Hi, How are you? What about our next meeting?</p>
                            </div>
                          </div>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="simplebar-placeholder"
                     style="width: 859px; height: 885px"></div>
              </div>
              <div class="simplebar-track simplebar-horizontal"
                   style="visibility: hidden">
                <div class="simplebar-scrollbar"
                     style="width: 0px; display: none"></div>
              </div>
              <div class="simplebar-track simplebar-vertical"
                   style="visibility: visible">
                <div class="simplebar-scrollbar" style="height: 325px;
                     display: block;
                     transform: translate3d(0px, 0px, 0px);"></div>
              </div>
            </ul>

            <div class="row">
              <div class="col">
                <div class="mt-2 bg-light p-3 rounded">
                  <form class="needs-validation" novalidate="" name="chat-form" id="chat-form">
                    <div class="row">
                      <div class="col mb-2 mb-sm-0">
                        <input type="text" class="form-control border-0" placeholder="Enter your text"
                               required/>
                        <div class="invalid-feedback">Please enter your messsage</div>
                      </div>
                      <div class="col-sm-auto">
                        <div class="btn-group">
                          <button type="submit" class="btn btn-success chat-send btn-block">
                            <i class="uil uil-message"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- All Users List -->
      <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2">
        <div class="card">
          <div class="card-body">
            <div class="mt-3 text-center float-right">
              <img
                src="assets/images/users/avatar-5.jpg"
                alt="shreyu"
                class="img-thumbnail avatar-lg rounded-circle"
              />
              <h4>Shreyu N</h4>
              <p class="text-muted mt-2 font-14">
                Last Interacted: <strong>Few hours back</strong>
              </p>
            </div>

            <div class="mt-3">
              <hr />
              <p class="mt-4 mb-1">
                <strong><i class="uil uil-at"></i> Email:</strong>
              </p>
              <p>support@coderthemes.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="detail-parasha">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1><strong> Chats </strong></h1>
        </div>
        <div class="col">
          <h1><strong> Start chat with: </strong></h1>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col">
          <div class="modal-body-chat-users">
            <div class="modal-content-chat-users">
              {% for chat in chats %}
                <h3>
                  {% if chat.members.count == 2 %}
                    <a href="{% url "market:chat" chat.id %}">
                      {% for member in chat.members.all %}
                        {% if member.id != user.id %}
                          <div class="chat-username-line">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-auto">
                                  <div class="user-avatar" style="background-image: url(
                                    {% if member.avatar %}{{ member.avatar.url }}{% else %}https://www.meme-arsenal.com/memes/d0aea72a4f42092ccd20a17781d7df11.jpg{% endif %});"
                                       alt="connect"></div>

                                </div>
                                <div class="col-md-auto" style="display:flex;">
                                  <div class="username-flex-center">
                                    {{ member.username }}
                                  </div>
                                  <span id="numbers_chat_unread_{{ chat.id }}"
                                        class="badge rounded-pill bg-danger"
                                        id="numbers_chat_unread_{{ chat.id }}"
                                        style="margin:auto; margin-left:10px;"></span>

                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </a>
                  {% endif %}
                </h3>
                {% empty %}
                <div class="alert alert-info text-center p-4 my-4 mx-2">You have no chat's yet</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="modal-body-chat-users">
            <div class="modal-content-chat-users">
              {% if site_users %}
                <form action="{% url 'market:inbox' %}" method="post">
                  {% csrf_token %}
                  <div id="user-list">
                    <select class="form-select" size="13" name="user_id">
                      {% for item in site_users %}
                        <option value='{{ item.id }}'>{{ item.username }}</option>
                      {% endfor %}
                    </select>
                    <input type='submit'
                           class="btn btn-primary" value="Create chat!"
                           style="margin-top:1rem; width:90%;">
                  </div>
                </form>
              {% else %}
                <div class="alert alert-info text-center p-4 my-4 mx-2">There's no users to start chat
                  with for now :(
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>